<main class="col-8">
    <!--  Conteúdo principal da página  -->
    <h1>Usuário</h1>
    <div class="container">
        <center>
            <div class="container-foto">
                <label for="file-input">
                    <img class="imagensFoto" src="../../../../imagens/Usuario/empreiteiro-1.jpg" width="200">

                    <div class="middle">
                        <div class="">
                            <img src="../../../../imagens/Usuario/edit-icon-png.png" width="140">
                </label>
                <input id="file-input" type="file" hidden />
            </div>
    </div>
    </div>
    </center><br><br>


    <div class="input-group mb-3">
        <form method="post">
            <div class="row" id="row">
                <div class="col-12">
                    <label>Razão social:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite a razão social" aria-label="Username"
                        aria-describedby="basic-addon1" id="razaoSocial" name="razaoSocial" required>
                    <% if(error.razaoSocial) {%>
                        <span class="incorrect-data"><%= error.razaoSocial %></span>
                    <% } %>
                </div>
                <div class="col-9">
                    <label>CNPJ:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o CNPJ:" aria-label="Username"
                        aria-describedby="basic-addon1" maxlength="18" id="cnpj" name="cnpj" required>
                        <% if(error.cnpj) {%>
                            <span class="incorrect-data"><%= error.cnpj %></span>
                        <% } %>
                </div>
                <div class="col-6">
                    <label>Número de Funcionários:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o número de funcionários:"
                        aria-label="Username" name="numFuncionarios" id="numFuncionarios" aria-describedby="basic-addon1" required>
                        <% if(error.numFuncionarios) {%>
                            <span class="incorrect-data"><%= error.numFuncionarios %></span>
                        <% } %>
                </div>
                <div class="col-6">
                    <label>Telefone:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o telefone:"
                        aria-label="Amount (to the nearest dollar)" maxlength="16" id="telEmpresa" name="telEmpresa" required>
                        <% if(error.telEmpresa) {%>
                            <span class="incorrect-data"><%= error.telEmpresa %></span>
                        <% } %>
                </div>
                <div class="col-6">
                    <label>E-mail:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o e-mail:"
                        aria-label="Amount (to the nearest dollar)" id="email" name="email" required>
                        <% if(error.email) {%>
                            <span class="incorrect-data"><%= error.email %></span>
                        <% } %>
                </div>
                <div class="col-6">
                    <label>Senha:</label>
                    <br>
                    <input type="password" class="form-control" placeholder="Digite uma senha"
                        aria-label="Amount (to the nearest dollar)" name="password" required>
                        <% if(error.password) {%>
                            <span class="incorrect-data"><%= error.password %></span>
                        <% } %>
                </div>
                <div class="col-9">
                    <label for="nomeDono">Nome do responsável:</label><br>
                    <input type="text" class="form-control" id="nomeDono" placeholder="Digite o nome do dono:"
                        aria-label="Amount (to the nearest dollar)" name="nomeDono" required>
                        <% if(error.nomeDono) {%>
                            <span class="incorrect-data"><%= error.nomeDono %></span>
                        <% } %>
                </div>
                <div class="col-6">
                    <label>CPF do responsável:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o CPF do dono:"
                        aria-describedby="basic-addon3" maxlength="14" name="cpfDono" id="cpfDono" required>
                        <% if(error.cpfDono) {%>
                            <span class="incorrect-data"><%= error.cpfDono %></span>
                        <% } %>
                </div>
                <div class="col-6">
                    <label>Telefone do responsável:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o telefone do dono:"
                        aria-describedby="basic-addon3" maxlength="16" id="telDono" name="telDono" required>
                        <% if(error.telDono) {%>
                            <span class="incorrect-data"><%= error.telDono %></span>
                        <% } %>
                </div>
                <div class="col-6">
                    <label>Data de nascimento do responsável:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite a data de nascimento do responsável:"
                        aria-describedby="basic-addon3" name="owner_birth_date" maxlength="10" id="owner_birth_date" required>
                        <% if(error.owner_birth_date){%>
                            <span id="incorrect-data"><%= error.owner_birth_date %></span>
                        <% }%>
                </div>
                <div class="col-6">
                    <label>E-mail do contador:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o e-mail do contador:"
                        aria-describedby="basic-addon3" name="emailContador" required>
                        <% if(error.emailContador) {%>
                            <span class="incorrect-data"><%= error.emailContador %></span>
                        <% } %>
                </div>
                <div class="col-6">
                    <label>Telefone do contador:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o telefone do contador"
                        aria-describedby="basic-addon3" maxlength="16" id="telContador" name="telContador" required>
                        <% if(error.telContador) {%>
                            <span class="incorrect-data"><%= error.telContador %></span>
                        <% } %>
                </div>
                    <div class="col-12 d-flex justify-content-center">
                        <a href="/dashboard/usuarios/">
                            <input type="submit" id="button" class="btn btn-success" value="Salvar">
                        </a>
                    </div>
            </div>
        </form>
    </div>
        

    </div>
    </center>
    <center>
        
    </center><br><br>
    </div>
</main>
<script>
    const cnpj = document.querySelector('#cnpj')

    cnpj.addEventListener('keypress', () => {
    let cnpjlength = cnpj.value.length

        if (cnpjlength === 2 || cnpjlength === 6){
            cnpj.value += "."
        }else if (cnpjlength === 10){
            cnpj.value += "/"
        }else if (cnpjlength === 15){
            cnpj.value += "-"
        }
    })

    const tel = document.querySelector('#telEmpresa')

    tel.addEventListener('keypress', () => {
        let tel_length = tel.value.length

        if (tel_length === 0){
            tel.value += "("
        }else if (tel_length === 3){
            tel.value += ") "
        }else if (tel_length === 6){
            tel.value += " "
        }else if (tel_length === 11){
            tel.value += "-"
        }
    })

    const cpf_dono = document.querySelector('#cpfDono')

    cpf_dono.addEventListener('keypress', () => {
        let cpf_donolength = cpf_dono.value.length

        if (cpf_donolength === 3 || cpf_donolength === 7){
            cpf_dono.value += '.'
        }else if (cpf_donolength === 11){
            cpf_dono.value += '-'
        }
    })

    const tel_dono = document.querySelector('#telDono')

    tel_dono.addEventListener('keypress', () => {
        let tel_donolength = tel_dono.value.length

        if (tel_donolength === 0){
            tel_dono.value += "("
        }else if (tel_donolength === 3){
            tel_dono.value += ") "
        }else if (tel_donolength === 6){
            tel_dono.value += " "
        }else if (tel_donolength === 11){
            tel_dono.value += "-"
        }
    })

    const tel_contador = document.querySelector('#telContador')

    tel_contador.addEventListener('keypress', () => {
        let tel_contadorlength = tel_contador.value.length

        if (tel_contadorlength === 0){
            tel_contador.value += "("
        }else if (tel_contadorlength === 3){
            tel_contador.value += ") "
        }else if (tel_contadorlength === 6){
            tel_contador.value += " "
        }else if (tel_contadorlength === 11){
            tel_contador.value += "-"
        }
    })

    const owner_birth_date = document.querySelector('#owner_birth_date')
    
    owner_birth_date.addEventListener('keypress', () => {
        let owner_birth_date_lenght = owner_birth_date.value.length

        if (owner_birth_date_lenght === 2 || owner_birth_date_lenght === 5){
            owner_birth_date.value += "/"
        }
    })

</script>